body {
    background-color: rgb(100, 138, 255);
    font-family: 'Gluten';
    text-align: center;
    padding: 25px;
}

img {
    width: 400px;
    height: auto;
    border: 7px solid black;
    border-radius: 25px;
}

p {
    font-size: 25px;
}

.subheader {
    font-size: 35px;
    padding: 10px;
}

.parent1 {
    background-color: rgb(233, 235, 255);
    border: 10px solid;
    border-radius: 25px;
    padding: 10px;
}

.parent2,
.parent3,
.parent4 {
    background-color: rgb(233, 235, 255);
    margin: 50px auto;
    padding: 10px;
    border: 10px solid black;
    border-radius: 25px;
}

.child1 {
    color: black;
    font-size: 65px
}

.child2,
.child3,
.child4 {
    font-size: 50px;
}