body {
    background-color: cornflowerblue;
    font-family: 'Gluten';
    text-align: center;
}

.subheader {
    font-size: 35px;
}

.parent1 {
    background-color: aliceblue;
    border: 10px solid;
}

.child1 {
    color: black;
    font-size: 65px
}

.child2, .child3, .child4 {
    font-size: 40px;
}